@font-face {
    font-family: myFont;
    src: url("../fonts/Digital Play St.ttf");
}

body,html {
    height:100%;
    width: 100%;
    padding:0px;
    margin:0px;
}

body {
    position: relative;
    background: rgba(97,0,0,1);
    background: -moz-linear-gradient(top, rgba(97,0,0,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(97,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(97,0,0,1) 0%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(97,0,0,1) 0%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(97,0,0,1) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(97,0,0,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#610000', endColorstr='#000000', GradientType=0 );
}

div {
    border-style: solid;
    border-color: white;
    font-family: myFont;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    opacity: 0.95;
    background: #C00D0D;
}


p {
    line-height: 250%;
    text-align: center;
    margin-top: 2.5%;
    margin-left: 2.5%;
    font-size: 0.72em;
    width: 100%;
    height: 100%;
    color: white;
}

span {
    color: yellow;
}

#abtitle {
    font-size: 200%;
}

a {
    text-decoration: none;
    color: cadetblue;
}

a:hover {
    font-size: 130%;
    color: yellowgreen;
}

