@font-face {
    font-family: myFont;
    src: url("../fonts/Digital Play St.ttf");
}

body,html {
    height:100%;
    padding:0px;
    margin:0px;
}

body {
    background: rgba(97,0,0,1);
    background: -moz-linear-gradient(top, rgba(97,0,0,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(97,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(97,0,0,1) 0%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(97,0,0,1) 0%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(97,0,0,1) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(97,0,0,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#610000', endColorstr='#000000', GradientType=0 );
}

#planeta{
    position: fixed;
    height: 70%;
    left: 60%;
    z-index: -10;
}

.a {
    float: left;
    width: 350px;
    height: 450px;
}
/*CONTAINS B & C AND IS RESIZABLE*/

.wrapper {
    float: right;
    width: calc(100% - 350px);
    height: 80%;
}
.b {
    padding-top: 2%;
    float: left;
    width: 70%;
    height: 100%;
}
.c {
    position: relative;
    width: 30%;
    height: 100%;
    float: right;
    display:block !important;
}

.d {
    height:15%;
    width:100%;
    position:fixed;
    bottom:0px;
}

#ground {
    width: 100%;
    height: 100%;
}

#nave{
    text-align:center;
    position:fixed;
    top:10%;
    width:100%;
    height:20%;
    z-index: 1;
}

#nave img{
    height:100%;
}

#cpanel{}

#hidem,#showm{
    display:none;
}


/***********************************/
ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#menu {
    z-index: 5;
    position: fixed;
}

#menu li {
    text-align: center;
    float: left;
    display: block;
    width: 33.33%; 
}

#menu img {
    width: 75%;
    padding: 15%;
    opacity: 0.6;
}

#menu img:hover{
    transform: scale(1.2);
    opacity: 1;
}


#ground{
    width: 100%;
    height: 100%;
}

/*Panel Control*/
#fuelZone, #speedZone, #heightZone{
    width: 75%;
    line-height: 600%;
    background-size: 100% 100%;
    display: block;
    margin-top: 2.5%;
    margin-left: 5%;
}

#cpanel li p {
    font-family: myFont;
    color: white;
    font-size: 1.1em;
    margin-left: 42%;
}

#fuelZone{
    background-image: url("../img/fuel.png");
}


#speedZone{
    background-image: url("../img/speed.png");
}

#heightZone{
    background-image: url("../img/height.png");
}


/*INSTRUCTIONS*/

#helpDiv {
    border-style: solid;
    border-color: white;
    font-family: myFont;
    position: fixed;
    background: #C00D0D;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    opacity: 0.95;
    z-index: 2;
    display: none;
}

#instructions span{
    color: yellow;
}

.listHead {
    list-style-type: none;
    overflow: hidden;
    line-height: 250%;
    border-bottom: solid white;
}
.listHead li {
    background: #810909;
    text-align: center;
    float: left;
    width: 33.33%;
    color: white;
}

.listHead li:hover{
    background: #A91919;
}

.listHead li a {
    text-decoration: none;
    color: white;
}

.dropdownContent {
    list-style: none;
    display: none;
    position: absolute;
    width: 33.33%;
    z-index: 3;
}
.dropdownContent li {
    float: none;
    text-align: center;
    width: auto;
}
.dropdown:hover .dropdownContent {
    display: block;
}
p {
    z-index: 4;
    font-size: 0.75em;
    padding-left: 5%;
    color: white;
}

li .active{
    background: #E30B32;
}

.dropdownContent li:hover{
    color: yellow;
    background: #AF0808;
}

#msgText {
    position: fixed;
    top: 10%;
    width: 80%;
    line-height: 300%;
    left: 7.5%;
    text-align: center;
    font-weight: bold;
    font-size: 7vw;
    border: solid white;
    background:#AF0808;
    opacity: 0.8;
    display: none;
}