body {
	background: rgba(0,32,68,1);
background: -moz-linear-gradient(top, rgba(0,32,68,1) 0%, rgba(0,22,46,1) 35%, rgba(0,0,0,1) 81%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,32,68,1)), color-stop(35%, rgba(0,22,46,1)), color-stop(81%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(top, rgba(0,32,68,1) 0%, rgba(0,22,46,1) 35%, rgba(0,0,0,1) 81%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(0,32,68,1) 0%, rgba(0,22,46,1) 35%, rgba(0,0,0,1) 81%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(0,32,68,1) 0%, rgba(0,22,46,1) 35%, rgba(0,0,0,1) 81%, rgba(0,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(0,32,68,1) 0%, rgba(0,22,46,1) 35%, rgba(0,0,0,1) 81%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002044', endColorstr='#000000', GradientType=0 );
}


#n1 {
	background-color: red;
	width: 25%;
	height: 450px;
}

#n2 {
	background-color: green;
	width: 50%;
	height: 450px;
}

#n3 {
	background-color: yellow;
	width: 25%;
	height: 450px;
}

#n1,#n2,#n3 {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}


#n2 img{
	height: 60%;
	min-width: 40%;
	max-width: 90%;
	padding-top: 5px;
	/*Para centrar una imagen*/
	display: block;
	margin: auto;
	position: relative;
}

#n1 ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.cp {
	margin: auto;
	margin-top: 10%;
	width: 80%;
	height: 80%;
	border-style: solid;
}

.speed, .fuel, .height {
	border-style: solid;
	border-color: white;
	height: 25%;
	margin-bottom: 15%

}

#n1 .controlPane {
	width: 100%;
}

.gameOptions {
	height: 50%;
	background: grey;
	overflow: hidden;
}

.gameOptions img {
	margin-top: 5%;
	float: left;
	width: 15%;
}

.pause {
	margin-left: 10%;
	margin-right: 20%;
}
.restart {
	margin-right: 20%;
}

.prop img{
	width: 60%;
	/*Centrar Horiz.*/
	display: block;
	margin: auto;
}


#ground img{
	height: 25%;
	width: 100%;
	position: absolute;
	bottom: 0px;
}