* { /*Para quitar los margenes que deja por defecto*/
	padding: 0;
	margin: 0;
}

html {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

body{
	background: rgba(0,32,68,1);
	background: -moz-linear-gradient(top, rgba(0,32,68,1) 0%, rgba(0,22,46,1) 35%, rgba(0,0,0,1) 81%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,32,68,1)), color-stop(35%, rgba(0,22,46,1)), color-stop(81%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(0,32,68,1) 0%, rgba(0,22,46,1) 35%, rgba(0,0,0,1) 81%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(0,32,68,1) 0%, rgba(0,22,46,1) 35%, rgba(0,0,0,1) 81%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,32,68,1) 0%, rgba(0,22,46,1) 35%, rgba(0,0,0,1) 81%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(0,32,68,1) 0%, rgba(0,22,46,1) 35%, rgba(0,0,0,1) 81%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002044', endColorstr='#000000', GradientType=0 );
}

.wrapper {
	position: absolute;
	width: 100%;
	height: 75%;
	opacity: 0.7;
}

.n1 {
	width: 25%;
	height: 100%;
	background: red;
}

.n2 {
	
	width: 50%;
	height: 100%;
}

.n3 {
	background: blue;
	width: 25%;
	height: 100%;
}

.n1, .n2, .n3 {
	float: left;
	position: relative;
}

.controlPane { /*Falta centrar verticalmente*/
	/*Position fixed, top 5%*/
	background: green;
	display: block;
	margin: auto;
	width: 80%;
	height: 75%;
}

.speedDiv {

	width: 100%;
	height: 33.33%;
}

.fuelDiv {
	width: 100%;
	height: 33.33%;
}

.heightDiv {

	width: 100%;
	height: 33.33%;
}

.controlPane img {
	width: 100%;
	max-height: 85%;
}

#rocket {
	height: 20%;
	display: block;
	margin: auto;
	padding-top: 5%;
}

#speed, #fuel, #height {
	border-style: solid;
	height: 25%;
	margin-bottom: 15%

}

.gameOptions {
	background: yellow;
	width: 80%;
	height: 50%;
	margin: auto;
	text-align: center;
}

.gameOptions img {
	width: 20%;
}

.pause {
	float: left;
}

.help {
	float: right;
}

.propulsion {
	background: hotpink;
	width: 100%;
	height: 50%;
	position: relative;
}

.propulsion img {
	display: block;
	margin: auto;
	height: 90%; 
	max-width: 100%;
	
}

.ground {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 25%;
}

.ground img{
	height: 100%;
	width: 100%;
	position: absolute;
}