html {
	padding: 0%;
	margin: 0%;
	width: 100%;
	height: 100%;
}

body{
	background: rgba(0,32,68,1);
	background: -moz-linear-gradient(top, rgba(0,32,68,1) 0%, rgba(0,22,46,1) 35%, rgba(0,0,0,1) 81%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,32,68,1)), color-stop(35%, rgba(0,22,46,1)), color-stop(81%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(0,32,68,1) 0%, rgba(0,22,46,1) 35%, rgba(0,0,0,1) 81%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(0,32,68,1) 0%, rgba(0,22,46,1) 35%, rgba(0,0,0,1) 81%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,32,68,1) 0%, rgba(0,22,46,1) 35%, rgba(0,0,0,1) 81%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(0,32,68,1) 0%, rgba(0,22,46,1) 35%, rgba(0,0,0,1) 81%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002044', endColorstr='#000000', GradientType=0 );
}
.wrapper {
	background: grey;
	position: absolute;
	width: 100%;
	height: 75%;
	opacity: 0.5;
}

.n1 {
	background-color: red;
	width: 25%;
	height: 100%;
}

.n2 {
	background-color: green;
	width: 50%;
	height: 100%;
}

.n3 {
	background-color: yellow;
	width: 25%;
	height: 100%;
}

.n1, .n2, .n3 {
	float: left;
}

.controlPane { /*Falta centrar verticalmente*/
	background-color: white;
	display: block;
	margin: auto;
	width: 80%;
	height: 75%;
}

.speedDiv {
	background: hotpink;
	width: 100%;
	height: 33.33%;
}

.fuelDiv {
	background: purple;
	width: 100%;
	height: 33.33%;
}

.heightDiv {
	background: deepskyblue;
	width: 100%;
	height: 33.33%;
}

.controlPane img {
	width: 100%;
	max-height: 85%;
}

#rocket {
	height: 60%;
	display: block;
	margin: auto;
	padding-top: 2%;
	max-width: 80%;
}


.speed, .fuel, .height {
	border-style: solid;
	border-color: white;
	height: 25%;
	margin-bottom: 15%

}

.gameOptions {
	height: 50%;
	background: grey;
	overflow: hidden;
}

.gameOptions img {
	margin-top: 5%;
	float: left;
	width: 15%;
}

.pause {
	margin-left: 10%;
	margin-right: 20%;
}
.restart {
	margin-right: 20%;
}

.prop img{
	width: 60%;
	/*Centrar Horiz.*/
	display: block;
	margin: auto;
}

.ground {
	background-color: darkslategrey; 
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 25%;
}

.ground img{
	height: 100%;
	width: 100%;
	position: absolute;
	bottom: 0px;
}