@font-face {
    font-family: myFont;
    src: url("../fonts/Digital Play St.ttf");
}

body,html{
    height:100%;
	width: 100%;
    padding:0px;
    margin:0px;
}

body{
	background: rgba(0,32,68,1);
	background: -moz-linear-gradient(top, rgba(0,32,68,1) 0%, rgba(0,22,46,1) 35%, rgba(0,0,0,1) 81%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,32,68,1)), color-stop(35%, rgba(0,22,46,1)), color-stop(81%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(0,32,68,1) 0%, rgba(0,22,46,1) 35%, rgba(0,0,0,1) 81%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(0,32,68,1) 0%, rgba(0,22,46,1) 35%, rgba(0,0,0,1) 81%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,32,68,1) 0%, rgba(0,22,46,1) 35%, rgba(0,0,0,1) 81%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(0,32,68,1) 0%, rgba(0,22,46,1) 35%, rgba(0,0,0,1) 81%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002044', endColorstr='#000000', GradientType=0 );
}

.options {
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	position: absolute;
	margin-top: 2%;
	width: 70%;
	height: 10%;
	margin-left: 15%;
}

.options li {
	text-align: center;
	float: left;
    width: 33.33%;
	height: 100%;
}

.options img {
	height: 100%;
}

.b {
	position: absolute;
	width: 70%;
	height: 65%;
	top: 10%;
}

.rocket {
	margin-top: 5%;
	width: 100%;
    	height: 20%;
}


.rocket img {
    	height: 100%; /*To adjust the fire to the tocket*/
	display: block;
	margin: auto;
}

.pro {
	position: absolute;
	width: 30%;
	height: 65%;
	top: 10%;
	left: 70%;
}

.pro img {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.a {
	position: absolute;
	width: 100%;
	height: 25%;
	bottom: 0;
	z-index: 1;
}

.cp {
	padding: 0;
	margin: 0;
	list-style-type: none;
	overflow: hidden;
	position: absolute;
	width: 90%;
	bottom: 7%;
	left: 7%;
}

.cp li {
	float: left;
	width: 30%;
	background-size: 100% 100%;
	line-height: 300%;
	margin-right: 2%;
}

.cp li p {
	font-family: myFont;
	font-weight: bold;
	font-size: 0.52em;
	margin-left: 40%;
}
.cp #speed {
	background-image: url("../img/speed.png");
}

.cp #fuel {
	background-image: url("../img/fuel.png");
}

.cp #height {
	background-image: url("../img/height.png");
}

/*GROUND*/
.d {
    	position: fixed;
    	bottom: 0;
    	width: 100%;
    	height: 25%;
}

.d img {
	width: 100%;
	height: 100%;
	z-index: -1;
}

/*INSTRUCTIONS*/
.instructions {
	border-style: solid;
	border-color: lawngreen;
	font-family: myFont;
    	position: absolute;
    	display: block;
    	background: slategrey;
    	top: 10%;
    	left: 10%;
    	width: 80%;
    	height: 80%;
	opacity: 0.95;
	z-index: 2;
	/*display: none;*/
}

.listHead {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

.listHead li {
	background: green;
	text-align: center;
	float: left;
	width: 33.33%;
}

.listHead li a {
	display: block;
	padding: 3%;
	text-decoration: none;
	color: white;
}

.dropdownContent {
	list-style: none;
	display: none;
	position: absolute;
	width: 33.33%;
	z-index: 3;
}

.dropdownContent li {
	float: none;
	text-align: center;
	width: auto;
}

.dropdown:hover .dropdownContent {
	display: block;
}

p {
	z-index: 4;
	font-size: 0.75em;
	padding-left: 5%;
}

.active {
	background: lawngreen;
}

.listHead a:hover:not(.active){
	color: yellow;
	background: limegreen;
}